@import '_colors';
@import '_drawing';
@import '_common';

@import 'copyous-colors';
@import '_dialog';
@import '_search-entry';
@import '_clipboard-item';
@import '_content-preview';
@import '_content-info';
@import '_popupmenu';
@import '_edit-dialog';
@import '_qr-dialog';

.clipboard-indicator-icon {
	icon-size: $scalable_icon_size;
}
