$menuitem_border_radius: $base_border_radius * 1.5;

// prettier-ignore
@mixin tag_button($color) {
	.tag {
		background-color: $color;
	}

	&:focus .inner { border-color: transparentize($color, 0.7); }
	&:checked .inner { border-color: $color; }
	&:checked:focus { border-color: transparentize($color, 0.7); }
}

.clipboard-item-menu,
.search-popup-menu {
	.tags-item {
		padding: 0;
		spacing: 0;

		.tags-scrollview {
			width: 5 * ($base_padding * 5 + 4px);
		}

		.tag-button {
			border-radius: $forced_circular_radius;
			border: $base_padding * 0.5 solid transparent;

			.inner {
				border-radius: $forced_circular_radius;
				border: $base_padding * 0.5 solid transparent;

				.tag {
					border-radius: $forced_circular_radius;
					width: $base_padding * 3;
					height: $base_padding * 3;
					margin: 2px;
				}
			}

			&.null {
				.tag {
					icon-size: $base_padding * 5;
					background-color: transparent;
				}
			}

			// prettier-ignore
			& {
				&.blue { @include tag_button($tag_color_blue); }
				&.teal { @include tag_button($tag_color_teal); }
				&.green { @include tag_button($tag_color_green); }
				&.yellow { @include tag_button($tag_color_yellow); }
				&.orange { @include tag_button($tag_color_orange); }
				&.red { @include tag_button($tag_color_red); }
				&.pink { @include tag_button($tag_color_pink); }
				&.purple { @include tag_button($tag_color_purple); }
				&.slate { @include tag_button($tag_color_slate); }
			}
		}

		// prettier-ignore
		.arrow-button {
			@extend %menuitem;

			padding-left: $base_padding;
			padding-right: $base_padding;

			StIcon {
				icon-size: $scalable_icon_size;
			}

			&:first-child {
				border-radius: $menuitem_border_radius 0 0 $menuitem_border_radius;
			}

			&:last-child {
				border-radius: 0 $menuitem_border_radius $menuitem_border_radius 0;
			}
		}
	}
}

.clipboard-item-menu {
	// Move original styles to nested element to fix bad animation
	.clipboard-action-submenu.popup-sub-menu {
		margin-bottom: 0;
		border: none;
		background-color: transparent;
	}
}
